:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    h1 {
      color: black;
    }
  }
} */

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* prevent scroll: */
  overflow: hidden;
  /* cursor: pointer; */
}

.explanation {
  position: absolute;
  height: 100%;
  margin-top: 0;
  width: 330px;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 330px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* so can click on timeline etc: */
  pointer-events: none;
}
/* need to think about pointerevents */
.text-wrapper {
  position: absolute;
  margin-top: 0;
  width: 330px;
  min-width: 330px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: fit-content;
  z-index: 3;
  pointer-events: all;
}

.input-results > p {
  pointer-events: none;
}

/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

/* getting rid of browser defaults and manually altering appearance of the range slider - source above*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 90vw;
  background: transparent;
  cursor: pointer;
  padding-bottom: 2em;
}
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 1em;
}
/* Firefox */
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 1em;
}

/* Styling the 'Thumb' */
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #ffffff;
  height: 2.5em;
  width: 2px;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #ffffff;
  height: 2.5em;
  width: 2px;
}
/* Above is from: */
/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

.fade-container {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-container.visible {
  opacity: 1;
  transform: translateY(0);
}
